
<div class="card mt-4">
  <div class="card-body">
    <h3 class="card-title " style="color:blue;margin-bottom:30px;">Weighing Scale Calibration</h3>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->

    <div class="input-group mb-3">
      <span class="input-group-text p-2" id="basic-addon1">Scan Weighing Id</span>
      <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div style="align-content:center">
    <button type="button" class="btn btn-primary" id="getWeightBtnid" style="width:80px;height:37px;"><small>Get Weight<</small></button>
      </div>
    <hr>
    <div>
    <button type="button" class="btn btn-primary" style="width:80px;height:37px;padding-bottom:10px">Save</button>
  </div>
  </div>
</div>


