
<div class="card mt-4">
  <div class="card-body">
    <h3 class="card-title " style="color:blue;margin-bottom:30px;font-weight:550;font-size:30px" >Weighing Scale Calibration</h3>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->

    <div class="input-group mb-3">
      <span class="input-group-text p-2" id="basic-addon1">Scan Weighing Id</span>
      <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div style="align-content:center">
      <button type="button" class="btn btn-primary" id="getWeightBtnid" style="width: 110px; height: 37px; margin-left: 72%"><small>Get Weight</small></button>
    </div>
    <hr>

    <div>
      <div class="table-responsive" style="background-color:white;margin-bottom:5%">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="table-primary">Std Wt</th>
              <th scope="col" class="table-primary">Min</th>
              <th scope="col" class="table-primary">Max</th>
              <th scope="col" class="table-primary">Captured</th>

              <!-- <th scope="col" class="table-primary">InLot No</th>-->
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <!--  <td>Mark</td>
            <td>Otto</td>-->

            </tr>
            <tr>
              <th scope="row">2</th>
              <!--<td>Jacob</td>
            <td>Thornton</td>-->
            </tr>
            <tr>
              <th scope="row">3</th>
              <!--<td>Jacob</td>
            <td>Thornton</td>-->
            </tr>

          </tbody>
        </table>
      </div>
    </div>


    <hr>
    <div>
      <button type="button" class="btn btn-primary" style="width:80px;height:37px;" id="saveBtn">Save</button>
    </div>
  </div>
</div>


