
<div class="card mt-4">
  <div class="card-body">
    <h3 class="card-title " style="color:blue;margin-bottom:30px;font-weight:550;font-size:30px">Status Printing</h3>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->


    <div class="input-group mb-3" id="pur-getid" style="margin-right:20px ;">
      <span class="input-group-text text-dark p-1" id="basic-addon1"><b>GRN</b></span>
      <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" style="margin-right: 5%;">
      <button type="button" class="btn btn-primary" id="getbtnid">Get Data</button>
    </div>

    <hr>

    <!-- <div class="input-group mb-3">
      <span class="input-group-text p-2" id="basic-addon2" style="background-color: #ffff80;">{{optionval}}</span>
      <button class="btn btn-outline-primary" style="background-color: #D3D3D3;" type="button" (click)="togglePrinterStatus()">Change Printer</button>
    </div>-->

    <div class="alert alert-warning mt-4 mb-4" role="alert">
      <mat-icon class="exclamation-icon">report_problem</mat-icon>
      Please configure printer...<button style="background-color: transparent; border: none;"><b class="here-link" type="button" (click)="togglePrinterStatus()">Here</b></button>
    </div>

    <!--Model-->
    <div class="modal" tabindex="-1" *ngIf="printerStatus" style="display: block; top: 20%;">
      <div class="modal-dialog">
        <div class="modal-content" style="border: 1px groove gray">
          <div class="modal-header">
            <h5 class="modal-title">Select Printer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="toggleclose()"></button>
          </div>
          <div class="modal-body">


            <div class="input-group mb-3">
              <input type="text" class="form-control" aria-label="Text input with dropdown button" [(ngModel)]="optionval" #printer>
              <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Change Printer</button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li class="dropdown-item">Select</li>
                <li class="dropdown-item" *ngFor="let item of printers" (click)="selectOption(item.name)">{{item.name}}</li>
              </ul>
            </div>



            <!--   <div class="input-group mb-3">
              <span class="input-group-text p-2 " id="basic-addon1">Search</span>
              <input type="text" class="form-control" placeholder="" [(ngModel)]="optionval" #printer />
            </div>
            <div class="card" style="width: 15rem;">
              <div class="card-header">
               Printers
               </div>
              SELECT OPTION
              <select class="list-group list-group-flush" [(ngModel)]="optionval" #printer>
                <option class="list-group-item">Select</option>
                <option class="list-group-item" [value]="item.name" *ngFor="let item of printers">{{item.name}}</option>
              </select>
            </div>-->


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary modelClose-btn" data-bs-dismiss="modal" (click)="toggleclose()">Close</button>
            <button type="button" class="btn btn-primary modelSave-btn" (click)="getData(printer)">Save changes</button>
          </div>
        </div>
      </div>
    </div>


    <hr>
    <button type="button" class="btn btn-primary" id="print-btn" style=" width: 80px; height: 37px;">Print</button>
  </div>
</div>


<input [(ngModel)]="grnNo" placeholder="Enter GrnNo" />
<button (click)="getDataApi()">Get Data</button>

<table class="table" *ngIf="data">
  <thead>
    <tr>
      <th class="table-primary">Ref</th>
      <th class="table-primary">Material No</th>
      <th class="table-primary">Description</th>
      <th class="table-primary">Batch No</th>
      <th class="table-primary">InLot No</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td>{{ row.reF_No }}</td>
      <td>{{ row.material_No }}</td>
      <td>{{ row.description }}</td>
      <td>{{ row.batch_No }}</td>
      <td>{{ row.inLot_No }}</td>
    </tr>
  </tbody>
</table>






