:host {
  color: rgb(10, 10, 10);
}

@media only screen and (max-width: 600px) {
  .card {
    width: 19rem;
    margin-left: auto;
    margin-right: auto;
    background: #fffff0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-size: 12px;
    border: 1px groove gray;
  }

  .input-group-text {
    font-size: 12px;
    font-weight: bold;
    font-weight: 500;
    padding: 5px;
  }
  #print-btn {
    padding-bottom: 10px;
    margin-left: 70%;
  }
  #basic-addon2 {
    width: 50%
  }
  .alert-warning {
    height: 25px;
    padding-top: 2px;
    font-size: 11px;
    width: 100%;
    font-weight: 500;
  }
  .exclamation-icon {
    height: 18px;
    width: 20px;
    margin-right: 7px;
    position: relative;
    bottom: 3px !important;
  }
  .dropdown-toggle, .modelClose-btn, .modelSave-btn {
    font-size: 12px;
  }
  .modal
  {
      width:90%;
      left:15px;
  }
  .table-primary
  {
      font-size:12px;
  }
    .heading-sltprint {
        display: block;
    }
}

@media only screen and (min-width: 601px) {
  .card {
    width: 37rem;
    margin-left: auto;
    margin-right: auto;
    background: #fffff0;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 1.5%;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px groove gray;
  }

  .input-group-text {
    font-size: 14px;
    font-weight: bold;
    font-weight: 400;
  }

  #getbtnid {
    width: 70px;
    height: 37px;
    border-radius: 5px !important;
  }
  #print-btn {
    padding-bottom: 10px;
    margin-left: 83%;
  }
  #basic-addon2 {
    width: 72%
  }
  .alert-warning {
    height: 25px;
    padding-top: 5px;
    font-size: 12px;
    width: 50%;
    font-weight: 500;
    padding-right:5px !important;
    padding-left:5px !important;
    bottom:8px;
  }
  .exclamation-icon {
    height: 18px;
    width: 20px;
    margin-right: 7px;
    position: relative;
    bottom: 3px !important;
  }
  .modal
  {
      left:10%;
  }
    .heading-sltprint {
        display: flex;
    }
}

.input-group-text {
  color: black;
  background-color: rgb(219, 219, 245);
}

  .input-group-text:hover {
    background-color: rgb(158, 225, 241);
  }


/* Set the theme for the grid */
.ag-theme-alpine {
  display: block;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

/* table.component.css */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border: 1px groove #ccc;
  font-size:12px;
}

.table-container {
  background-color:white;
  height: 250px;
  width: 100%;
  overflow-y: auto; /* This enables vertical scrolling if the table content exceeds the div height */
}
.table-primary {
  border-right: 1px solid gray;
}

.dropdown-item {
  border-bottom: 0.5px groove gray
}

/*Model*/

.here-link {
  text-decoration: underline;
  color: red;
  bottom: 2px !important;
  position:relative;
}
.alert-warning {
  display: flex;
}

