
<div class="card mt-4">
    <div class="card-body">
      <h1 class="card-title "style="color:blue;margin-bottom:30px;">Purchase Order Scanning | ML06</h1>
      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      
      <div class="input-group mb-3"  id="pur-getid" style="margin-right:20px ;">
        <span class="input-group-text p-1" id="basic-addon1" >Purchase Order</span>
        <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" style="margin-right: 5%;">
        <button type="button" class="btn btn-primary" id="getbtnid">Get</button>
      </div>
   
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Material Code</label>
      <select class="form-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    
       <div class="input-group mb-3">
        <span class="input-group-text p-2 " id="basic-addon1">Description</span>
        <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
       </div>

       <div class="input-group mb-3">
        <span class="input-group-text p-2" id="basic-addon1">Qty</span>
        <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" style="margin-right: 3%;">  
        <span class="input-group-text p-2" id="basic-addon1" style="margin-left: 3%;">Unit</span>
        <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" >
       </div>

       <div class="input-group mb-3">
        <span class="input-group-text p-2" id="basic-addon1">Weighting Scale</span>
        <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
       </div>
      <div class="input-group mb-3">
        <span class="input-group-text p-2" id="basic-addon1">Net Wt</span>
        <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" style="margin-right:3%">  
        <span class="input-group-text p-2" id="basic-addon1" style="margin-left:3%;">Lbl Wt</span>
        <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" >
       </div>
       <div class="input-group mb-3">
        <span class="input-group-text p-2" id="basic-addon1">Scan Barcode</span>
        <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
       </div>
       <hr>
       <button type="button" class="btn btn-primary" style="width:100px;height:40px;">Count</button>
    </div>
  </div>


