<div class="container-fluid">
  <div class="card mt-5 mb-2">
    <div class="card-body">
      <h2 class="form-label text-white text-center" id="Login">Login</h2>

      <hr>
      <form (ngSubmit)="submitForm()">
        <!-- <label for="exampleInputEmail1" class="form-label text-white">Plant</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="Text input with dropdown button">
          <button class="btn btn-outline-primary dropdown-toggle" style="background-color: rgb(192, 190, 190);" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#" style="border-bottom: 1px solid rgb(192, 190, 190);">ML11</a></li>
            <li><a class="dropdown-item" href="#">ML24</a></li>
          </ul>
        </div> -->
<!-- 
        <div class="input-group mb-3">
          <div style="display: flex;">
          <label for="exampleInputEmail1" class="form-label text-white" style="margin-right: 15px;">Plant</label>
          <input class="form-select ss " list="browsers" id="exampleInputEmail1" matInput (scroll)="onScroll($event)" />
          <datalist id="browsers">
            <option *ngFor="let option of options" [value]="option"></option>
          </datalist>
        </div>
        </div> -->
      
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label text-white">User ID</label>
          <input type="email" class="form-control" id="exampleInputEmail1" name="email" [(ngModel)]="formData.email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label text-white">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="formData.password">
        </div>
        <button type="submit" class="btn btn-primary" style="background-color:#00BFFF">Submit</button>
      </form>
      
    </div>
  </div>
</div>
