material-tracking is Working!
<!-- <h2>Welcome, {{ username }}</h2>

<mat-card class="card-dash" style="margin-top: 10px; margin-bottom: 10px;">
  <mat-card-content>
    User-specific menu items
    <ul class="sidebar" style="list-style-type: none;padding: 0px;">
      <li *ngFor="let item of userSpecificMenuItems" [class.children]="item.children" class="list-items"
          style="text-decoration: none;">
        <a href="{{item.route}}" (click)="handleItemClick($event, item)" (click)="toggleSubMenu(item)"
           style="color:white;text-decoration: none;">
          <h3 style="font-size:1.3em;color:black;margin: 0px;padding-top: 15px;padding-bottom: 2px;font-weight:550;">
            {{ item.title }}
            <span *ngIf="item.children" [class.collapsed]="!item.expanded"
                  style="margin-left: 10px;font-size: 13px;">▼</span>
            <hr style="margin: 0px;background-color: rgb(71, 71, 241);margin-top: 10px;height:2px">
          </h3>
        </a>
        <ul *ngIf="item.children && item.expanded" class="children-items"
            style="padding: 0px;list-style-type: none;margin: 0px;padding-bottom: 10px;border-collapse: collapse;">
          <li *ngFor="let subItem of item.children" id="subitem-listid"
              style="text-align: left;border: 1px solid rgb(165, 163, 163);border-collapse: collapse;margin-left: 10px;margin-right: 10px;">
            <span style="display: flex;">
              <a href="{{subItem.route}}" id="anchorid" style="text-decoration: none;margin-left: 15px;">
                <h6 style="color: rgb(0, 24, 243);font-size: 1.1em;font-weight: 500; letter-spacing: -0.7px;">
                  <mat-icon style="font-size: 15px;top:10px;position: relative;">label_important</mat-icon>
                  {{ subItem.title }}
                </h6>
              </a>
            </span>
          </li>
        </ul>
      </li>
    </ul>
  </mat-card-content>
</mat-card> -->
