:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .example-container {
    width: 100%;
    height: 100%;
    border: 1px solid white;
  }
  mat-drawer
  {
    height: 100%;
  }
  mat-toolbar
  {
    position: relative;
    background:  rgb(0, 125, 198);  
    background: -webkit-linear-gradient(to right,  #020255,rgb(0, 125, 198)); 
    background: linear-gradient(to right,   #020255,rgb(0, 125, 198));
  }
  mat-drawer-content{
    background-color: white;
  }
  mat-drawer{
    background: #1786a5;  
    background: -webkit-linear-gradient(to right,  #000046,#1786a5); 
    background: linear-gradient(to right,  #000046,#1786a5);
    width: 240px;
}
.list-items:hover{
  background: #1a97b9;  
  background: -webkit-linear-gradient(to right,  #010168,#1a97b9); 
  background: linear-gradient(to right,  #010168,#1a97b9);
}

/* list */
.sidebar {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 5px;
}
.sidebar li:hover
{
  background-color: #1a97b9; 
  color:black;
}

.sidebar li.submenu {
  position: relative;
  /* background: #1a97b9;  */
}

.sidebar li.submenu > a {
  display: flex;
  align-items: center;
}

.sidebar li.submenu > a .collapsed {
  transform: rotate(-90deg);
}

.submenu-items {
  list-style-type: none;
  padding-left: 20px;
  /* display: none; */
}

.submenu-items li {
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.submenu-items li a {
  display: block;
  color:white;
  text-decoration: none;
}

.sidebar li.submenu:hover .submenu-items {
  display: block;
}


